{% extends 'core/base.html' %}

{% block title %}HOME{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'core/css/cardstyle.css' %}" />
<link rel="stylesheet" href="{% static 'core/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'core/css/category.css' %}" />
{% endblock %}

{% block navbar_script %}

<script src="{% static 'core/js/navscript.js' %}"></script>

<script>
    const backgroundImageUrl = "{% static 'core/img/navbar4.png' %}";
    setNavbarBackgroundOnScroll(backgroundImageUrl);
</script>
{% endblock %}

{% block first_content %}
<div class="indexBody">
    <div class="banner">
        <img src="{% static 'core/img/about_bg.png' %}" alt="">
    </div>



    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class=" my-4">Sobre Nosotros</h1>
                <p class="">Somos una empresa dedicada a la elaboración de galletas y desayunos, con
                    ingredientes de la mejor calidad y con un sabor único.</p>
            </div>
            <div class="col-12">
                <h1 class=" my-4">Misión</h1>
                <p class="">Nuestra misión es ofrecer productos de calidad, con ingredientes frescos y
                    naturales, para que nuestros clientes disfruten de un sabor único.</p>
            </div>
            <div class="col-12">
                <h1 class=" my-4">¿Dónde encontrarnos?</h1>
            </div>
        </div>
        <div class="mb-2 container-fluid">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.5921609091843!2d-70.5968589!3d-33.537987799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0ecc05693b1%3A0x638668ea66c40777!2sTemuco%20365%2C%208261035%20La%20Florida%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1720414621203!5m2!1ses-419!2scl"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

            

            {% endblock %}


            {% block my_js %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                crossorigin="anonymous"></script>
            {% endblock %}