/* CARRITO */
.cart-container{
    display: flex;
    flex-wrap: wrap;
}

/* cart */
.cartTab {
    width: 400px;
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: none;
    grid-template-rows: 70px 1fr 20px 50px;
    padding-left: 10px;
    transition: .5s;
    z-index: 1000;
}

body.showCart .cartTab {
    right: 0;
    display: block;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    z-index: 100;
}

.cartTab a, .cartTab button{
    text-decoration: none;
    background-color: #353432;
    color: #eee;
    border: none;
    width: 200px;
    padding: 10px 10px;
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.cartTab button.comprar, .cartTab .close{
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: #5f5d6e;
    padding: 1.2rem 2.5rem;
    border-radius: 0;
    margin-top: 1rem;
    font-size: 14px;
    transition: all 0.2s;

}

.cartTab .close {
    background-color: #807d94;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 120px 50px 70px 20px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    padding: 0 5px;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #020202;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}